@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

/* shared styles  */
.section-title-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    margin-bottom: 48px;
}
.section-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-self: stretch;
}
.section-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    align-self: stretch;
}

.lang-tit-des{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lang-title {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
}

.lang-des {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.lang-button {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    background: none;
    border: none;
    cursor: pointer;
}

/* Nav bar style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-button {
    border: none;
    background: none;
    cursor: pointer;

}

.nav-button-anchor {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;

    text-decoration: none;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    display: inline-flex;
    padding: 12px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Banner style */
.banner {
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
}

.banner-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-img {
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 43px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 24px;
}

.banner-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-button {
    display: flex;
    padding: 21px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: #0D1321;

    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

/* First section style  */

.first-section-content {
    display: flex;
    flex-direction: column;
    /* width: 1140px; */
    padding: 80px 97px;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

    margin: 74px 152px 0px 148px;

}

.row-cards-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.row-cards-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.row-cards-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);


}

.row-cards-bleh {
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 48px;
}

.row-cards-title {
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: -16px;
}

.row-cards-des {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.row-cards-button {
    border: 1px solid #0D1321;
    opacity: 0.7;

    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: none;
    cursor: pointer;
}

.inspiration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 152px 151px 148px;

}

.iframe-video {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}

.video-inspiration {
    border-radius: 16px;
    height: 550px;
    width: 100%;
}

/* Current Target */
.current-target-container {
    margin: 0px 150px;
}

.current-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* align-content: center; */
    gap: 24px;
}

.left-card {
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    gap: 24px;
}

.middle-card {
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    gap: 24px;
}

.right-card {
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    gap: 24px;
}
/* Next-target */
.next-target-container{
    margin: 111px 150px 49px 150px;
}
